<ion-content padding>
  <ion-list style="padding-top: 0">
    <ion-item>
      <ion-label class="option"
        >{{ 'notification-health-title' | translate }}</ion-label
      >
      <ion-select
        [(ngModel)]="health"
        okText="Okay"
        cancelText="Dismiss"
        interface="popover"
        class="popover"
        (ionChange)="healthCheckFrequency($event)"
      >
        <ion-select-option value="instant"
          >{{ 'notification-instant' | translate }}</ion-select-option
        >
        <ion-select-option value="daily"
          >{{ 'notification-daily' | translate }}</ion-select-option
        >
        <ion-select-option value="weekly"
          >{{ 'notification-weekly' | translate }}</ion-select-option
        >
        <ion-select-option value="never"
          >{{ 'notification-never' | translate }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label class="option"
          >{{ 'notification-report-title' | translate }}</ion-label
        >
        <ion-toggle
          [(ngModel)]="report"
          (ionChange)="optionsToggle($event, 'report')"
        ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label class="option"
          >{{ 'notification-change-title' | translate }}</ion-label
        >
        <ion-toggle
          [(ngModel)]="change"
          (ionChange)="optionsToggle($event, 'change')"
        ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label class="option"
          >{{ 'notification-optimal-title' | translate }}</ion-label
        >
        <ion-toggle
          [(ngModel)]="optimal"
          (ionChange)="optionsToggle($event, 'optimal')"
        ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label class="option"
          >{{ 'notification-revote-title' | translate }}</ion-label
        >
        <ion-toggle
          [(ngModel)]="revote"
          (ionChange)="optionsToggle($event, 'revote')"
        ></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label class="option"
          >{{ 'notification-storedAddress-title' | translate }}</ion-label
        >
        <ion-toggle
          [(ngModel)]="storedAddress"
          (ionChange)="optionsToggle($event, 'storedAddress')"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
