<ion-grid id="splash">
  <ion-row style="margin-top: 31vh;" text-center>
    <img-loader useImg
      ><img class="logo"
        src="../../../assets/images/splashLogo.png"
    /></img-loader>
  </ion-row>
  <ion-row class="ion-justify-content-center"> 
    <p
      class="ion-no-margin ion-no-padding brand"
      style="margin-top: 1.75vh"
    >
      ELAnodes
    </p>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-spinner style="margin-top: 11vh; --color:#fff;" name="dots" duration="2000"></ion-spinner>
  </ion-row>
  <ion-row class="ion-justify-content-center" >
    <p class="load-text">{{ 'splash-loading' | translate }}</p>
  </ion-row>
</ion-grid>
