ion-content {
    --background: #000;
}

* {
    color: #fff;
}

ion-list {
    background-color: #000 !important;
    ion-item {
        height: 42px;
        --background: #000 !important;
    }
    ion-icon {
        margin: 10px;
        width: px2rem(32px);
        height: px2rem(32px);
        color: #fff !important;
    }
    ion-label {
        font-size: 17px;
        --color: #fff;
    }
    ion-note {
        font-size: 15px;
    }
}
