<ion-content>
    <ion-slides
      class="container"
      #slide
      pager="true"
      [options]="slideOpts"
    >

    <ion-slide>
      <ion-card-title>
        <ion-grid id="splash">
          <ion-row>
              <ion-col size="3" class="arrow-container ion-justify-content-center ion-align-items-center">
              </ion-col>    
              <ion-col>
              <div class="icon-box">
              <ion-row style="padding-top: 5vh;" class="ion-justify-content-center ion-align-items-center">
                <fa-icon style="padding-bottom: 2vh;" [fixedWidth]="true" [icon]="['fas', 'smile-beam']" size="2x"></fa-icon>
              </ion-row>
              <ion-row style="padding-bottom: 5vh;" class="ion-justify-content-center">
                <h2 style="margin: 0; padding: 0;">{{ 'welcome' | translate }}</h2>    
              </ion-row> 
              </div>
            </ion-col>
            <ion-col size="3" class="arrow-container ion-justify-content-center" (click)="prev(slide)">
              <ion-icon style="font-size: 30px;" name="arrow-round-forward"></ion-icon>
            </ion-col>    
        </ion-row>
        <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
          <ion-list >
            <ion-item lines="none" style="--border-color: rgb(0, 150, 171);">
              <ion-label class="ion-text-wrap">{{ 'welcome-1' | translate }}</ion-label>
            </ion-item>
            <ion-item lines="none" style="--border-color: rgb(179, 26, 255);">
              <ion-label class="ion-text-wrap">{{ 'welcome-2' | translate }}</ion-label>
            </ion-item >
            <ion-item lines="none" style="--border-color: rgb(232, 0, 127);">
              <ion-label class="ion-text-wrap">{{ 'welcome-3' | translate }}</ion-label>
            </ion-item >
          </ion-list>
        </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-slide>

      <ion-slide>
        <ion-card-title>
          <ion-grid id="splash">
            <ion-row>
              <ion-col size="3" class="arrow-container ion-justify-content-center ion-align-items-center" (click)="prev(slide)">
                <ion-icon style="font-size: 30px;" name="arrow-round-back"></ion-icon>
              </ion-col>      
                <ion-col>
                <div class="icon-box">
                <ion-row style="padding-top: 5vh;" class="ion-justify-content-center ion-align-items-center">
                  <fa-icon style="padding-bottom: 2vh;" [fixedWidth]="true" [icon]="['fas', 'server']" size="2x"></fa-icon>
                </ion-row>
                <ion-row style="padding-bottom: 5vh;" class="ion-justify-content-center">
                  <h2 style="margin: 0; padding: 0;">{{'consensus' | translate }}</h2>    
                </ion-row> 
                </div>
              </ion-col>
              <ion-col size="3" class="arrow-container ion-justify-content-center" (click)="prev(slide)">
                <ion-icon style="font-size: 30px;" name="arrow-round-forward"></ion-icon>
              </ion-col>    
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
            <ion-list >
              <ion-item lines="none" style="--border-color: rgb(0, 150, 171);">
                <ion-label class="ion-text-wrap">{{ 'consensus-1' | translate }}</ion-label>
              </ion-item>
              <ion-item lines="none" style="--border-color: rgb(179, 26, 255);">
                <ion-label class="ion-text-wrap">{{ 'consensus-2' | translate }}</ion-label>
              </ion-item >
              <ion-item lines="none" style="--border-color: rgb(232, 0, 127);">
                <ion-label class="ion-text-wrap">{{ 'consensus-3' | translate }}</ion-label>
              </ion-item >
            </ion-list>
          </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-slide>

      <ion-slide>
        <ion-card-title>
          <ion-grid id="splash">
            <ion-row>
              <ion-col size="3" class="arrow-container ion-justify-content-center ion-align-items-center" (click)="prev(slide)">
                <ion-icon style="font-size: 30px;" name="arrow-round-back"></ion-icon>
              </ion-col>      
                <ion-col>
                <div class="icon-box">
                <ion-row style="padding-top: 5vh;" class="ion-justify-content-center">
                  <fa-icon style="padding-bottom: 2vh;" [fixedWidth]="true" [icon]="['fas', 'vote-yea']" size="2x"></fa-icon>
                </ion-row>
                <ion-row style="padding-bottom: 5vh;" class="ion-justify-content-center">
                  <h2 style="margin: 0; padding: 0;">{{'voting-rules' | translate }}</h2>    
                </ion-row> 
                </div>
            </ion-col>
            <ion-col size="3" class="arrow-container ion-justify-content-center" (click)="prev(slide)">
              <ion-icon style="font-size: 30px;" name="arrow-round-forward"></ion-icon>
            </ion-col>    
          </ion-row>
            <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
              <ion-list >
                <ion-item lines="none" style="--border-color: rgb(0, 150, 171);">
                  <ion-label class="ion-text-wrap">{{ 'voting-rules-1' | translate }}</ion-label>
                </ion-item>
                <ion-item lines="none" style="--border-color: rgb(73, 101, 242);">
                  <ion-label class="ion-text-wrap">{{ 'voting-rules-2' | translate }}</ion-label>
                </ion-item >
                <ion-item lines="none" style="--border-color: rgb(179, 26, 255);">
                  <ion-label class="ion-text-wrap">{{ 'voting-rules-3' | translate }}</ion-label>
                </ion-item>
                <ion-item lines="none" style="--border-color: rgb(232, 0, 127);">
                  <ion-label class="ion-text-wrap">{{ 'voting-rules-4' | translate }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-slide>

      <ion-slide>
        <ion-card-title>
          <ion-grid id="splash">
            <ion-row> 
              <ion-col size="3" class="arrow-container ion-justify-content-center ion-align-items-center" (click)="prev(slide)">
                <ion-icon style="font-size: 30px;" name="arrow-round-back"></ion-icon>
              </ion-col>       
                <ion-col>
                <div class="icon-box">
                <ion-row style="padding-top: 5vh;" class="ion-justify-content-center">
                  <fa-icon style="padding-bottom: 2vh;" [fixedWidth]="true" [icon]="['fas', 'network-wired']" size="2x"></fa-icon>
                </ion-row>
                <ion-row style="padding-bottom: 5vh;" class="ion-justify-content-center">
                  <h2 style="margin: 0; padding: 0;">{{'Supernodes' | translate }}</h2>    
                </ion-row> 
                </div>
            </ion-col>
            <ion-col size="3" class="arrow-container ion-justify-content-center" (click)="prev(slide)">
              <ion-icon style="font-size: 30px;" name="arrow-round-forward"></ion-icon>
            </ion-col>     
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
            <ion-list >
              <ion-item lines="none" style="--border-color: rgb(0, 150, 171);">
                <ion-label class="ion-text-wrap">{{ 'supernodes-1' | translate }}</ion-label>
              </ion-item>
              <ion-item lines="none" style="--border-color: rgb(73, 101, 242);">
                <ion-label class="ion-text-wrap">{{ 'supernodes-2' | translate }}</ion-label>
              </ion-item >
              <ion-item lines="none" style="--border-color: rgb(179, 26, 255);">
                <ion-label class="ion-text-wrap">{{ 'supernodes-3' | translate }}</ion-label>
              </ion-item>
              <ion-item lines="none" style="--border-color: rgb(232, 0, 127);">
                <ion-label class="ion-text-wrap">{{ 'supernodes-4' | translate }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-slide>

      <ion-slide>
        <ion-card-title>
          <ion-grid id="splash">
            <ion-row>   
              <ion-col size="3" class="arrow-container ion-justify-content-center ion-align-items-center" (click)="prev(slide)">
                <ion-icon style="font-size: 30px;" name="arrow-round-back"></ion-icon>
              </ion-col>     
                <ion-col>
                <div class="icon-box">
                <ion-row style="padding-top: 5vh;" class="ion-justify-content-center">
                  <fa-icon style="padding-bottom: 2vh;" [fixedWidth]="true" [icon]="['fas', 'tools']" size="2x"></fa-icon>
                </ion-row>
                <ion-row style="padding-bottom: 5vh;" class="ion-justify-content-center">
                  <h2 style="margin: 0; padding: 0;">{{'staking-tab' | translate }}</h2>    
                </ion-row> 
                </div>
              </ion-col> 
            <ion-col size="3" class="arrow-container ion-justify-content-center" (click)="prev(slide)">
              <ion-icon style="font-size: 30px;" name="arrow-round-forward"></ion-icon>
            </ion-col>     
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
            <ion-list >
              <ion-item lines="none" style="--border-color: rgb(0, 150, 171);">
                <ion-label class="ion-text-wrap">{{ 'staking-1' | translate }}</ion-label>
              </ion-item>
              <ion-item lines="none" style="--border-color: rgb(73, 101, 242);">
                <ion-label class="ion-text-wrap">{{ 'staking-2' | translate }}</ion-label>
              </ion-item >
              <ion-item lines="none" style="--border-color: rgb(179, 26, 255);">
                <ion-label class="ion-text-wrap">{{ 'staking-3' | translate }}</ion-label>
              </ion-item>
              <ion-item lines="none" style="--border-color: rgb(232, 0, 127);">
                <ion-label class="ion-text-wrap">{{ 'staking-4' | translate }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-slide>

      <ion-slide>
        <ion-card-title>
          <ion-grid id="splash">
            <ion-row> 
              <ion-col size="3" class="arrow-container ion-justify-content-center ion-align-items-center" (click)="prev(slide)">
                <ion-icon style="font-size: 30px;" name="arrow-round-back"></ion-icon>
              </ion-col>       
                <ion-col>
                <div class="icon-box">
                <ion-row style="padding-top: 5vh;" class="ion-justify-content-center">
                  <fa-icon style="padding-bottom: 2vh;" [fixedWidth]="true" [icon]="['fas', 'hand-holding-usd']" size="2x"></fa-icon>
                </ion-row>
                <ion-row style="padding-bottom: 5vh;" class="ion-justify-content-center">
                  <h2 style="margin: 0; padding: 0;">{{ 'rewards-tab' | translate }}</h2>    
                </ion-row> 
                </div>
              </ion-col>  
            <ion-col size="3" class="arrow-container ion-justify-content-center" (click)="prev(slide)">
              <ion-icon style="font-size: 30px;" name="arrow-round-forward"></ion-icon>
            </ion-col>    
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
            <ion-list >
              <ion-item lines="none" style="--border-color: rgb(0, 150, 171);">
                <ion-label class="ion-text-wrap">{{ 'rewards-1' | translate }}</ion-label>
              </ion-item>
              <ion-item lines="none" style="--border-color: rgb(73, 101, 242);">
                <ion-label class="ion-text-wrap">{{ 'rewards-2' | translate }}</ion-label>
              </ion-item >
              <ion-item lines="none" style="--border-color: rgb(179, 26, 255);">
                <ion-label class="ion-text-wrap">{{ 'rewards-3' | translate }}</ion-label>
              </ion-item>
              <ion-item lines="none" style="--border-color: rgb(232, 0, 127);">
                <ion-label class="ion-text-wrap">{{ 'rewards-4' | translate }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-slide>

    

      <ion-slide>
        <ion-card-title>
          <ion-grid id="splash">
            <ion-row>
              <ion-col size="3" class="arrow-container ion-justify-content-center" (click)="prev(slide)">
                <ion-icon style="font-size: 30px;" name="arrow-round-back"></ion-icon>
              </ion-col>     
                <ion-col>
                <div class="icon-box">
                <ion-row style="padding-top: 5vh;" class="ion-justify-content-center">
                  <fa-icon style="padding-bottom: 2vh;" [fixedWidth]="true" [icon]="['fas', 'chart-area']" size="2x"></fa-icon>
                </ion-row>
                <ion-row style="padding-bottom: 5vh;" class="ion-justify-content-center">
                  <h2 style="margin: 0; padding: 0;">{{'analytics-tab' | translate }}</h2>    
                </ion-row> 
                </div>
              </ion-col> 
            <ion-col size="3" class="arrow-container ion-justify-content-center">
            </ion-col>     
          </ion-row>
          <ion-row class="ion-justify-content-center" style="margin-bottom: 20px;">
            <ion-list >
              <ion-item lines="none" style="--border-color: rgb(0, 150, 171);">
                <ion-label class="ion-text-wrap">{{ 'analytics-1' | translate }}</ion-label>
              </ion-item>
              <ion-item lines="none" style="--border-color: rgb(179, 26, 255);">
                <ion-label class="ion-text-wrap">{{ 'analytics-2' | translate }}</ion-label>
              </ion-item >
              <ion-item lines="none" style="--border-color: rgb(232, 0, 127);">
                <ion-label class="ion-text-wrap">{{ 'analytics-3' | translate }}</ion-label>
              </ion-item>
              <ion-item class="complete-item ion-activatable ripple-parent" lines="none" detail (click)="goToSupernodes()">
                  <ion-ripple-effect></ion-ripple-effect>
                  <fa-icon style="font-size: 18px; padding-right: 2.5vw;" [fixedWidth]="true" [icon]="['fas', 'check-double']"></fa-icon>
                  <ion-label style="font-size: 18px; font-weight: 600;">{{ 'tutorial-complete' | translate }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-slide>

     
    </ion-slides>
</ion-content>