.container {
  // background-image: url("../../../assets/images/tutorialSplash1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  min-height: 100%;
  background-color: #171717;

.arrow-container {
  color: white;
  display: flex;
  align-items: center;
}

ion-list {
  --ion-item-background: transparent;
}


ion-item {
  --color: #fff;
  font-size: 13px;
  --border-radius: 10px;
  --border-width: 1px !important;
  --background: #000;
  margin-bottom: 7.5px;
  --inner-padding-bottom: 5px;
  --inner-padding-end: 7.5px;
  // --inner-padding-start: 5px;
  --inner-padding-top: 5px;
}

ion-label {
  font-size: 13px;
  font-weight: 400;
  color: white;
  margin: 0;
}

fa-icon {
  color: #fff;
  font-size: 26px;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}

.icon-box {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  border-radius: 20px;
  border: 2px solid transparent;
  background-image: linear-gradient(#000, #000), linear-gradient(-45deg, rgb(0, 150, 171),  rgb(232, 0, 127) );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.complete-item {
  --border-color: #fff; 
  --detail-icon-color: #fff !important; 
  --detail-icon-size: 18px !important; 
  --detail-icon-opacity: 100 !important;
  margin-top: 5vh; 
}


}
