<ion-content>

<!-- <ion-row class="ion-no-padding">
  <ion-col size="2.25">
    <ion-row style="padding: 10px;">
    <div (click)="dismiss()">
      <ion-icon
        class="slider-back"
        slot="icon-only"
        name="arrow-round-back"
      ></ion-icon>
    </div>
    </ion-row>
  </ion-col>
</ion-row> -->

  <ion-row>
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 10px; margin-right: 10px; margin-top: 15px; margin-bottom: 15px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'rewards-chart-title' | translate }}</p>
      </ion-row>
      <ion-row style="margin-top: 15px;">
        <div style="display: block; width: 100%; height: 35vh;">
          <canvas 
          #historyChart
          ></canvas>
        </div>
      </ion-row>
      <ion-row class="ion-align-items-end ion-justify-content-evenly">
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch1M()" [ngStyle]="{'background-color': color1M }">
            <strong>
              1M
            </strong>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch6M()" [ngStyle]="{'background-color': color6M }">
            <strong>
              6M
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch1Y()" [ngStyle]="{'background-color': color1Y }">
            <strong>
              1Y
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">    
          <ion-button class="chart-button" (click)="switchAll()" [ngStyle]="{'background-color': colorAll }">
            <strong>
              {{ 'all-text' | translate }}
            </strong>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-right:5px">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'first-payout-text' | translate }}</p>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ firstPayout }}</p>
      </ion-row>
    </ion-col>
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 5px">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'total-earnings-text' | translate }}</p>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ totalEarned }} ELA</p>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'month-text' | translate }}</p>
      </ion-row>
      <ion-row style="margin-left: 10px; margin-right: 10px">
        <ion-col class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ monthEarn }} ELA</p>
        </ion-col>
        <ion-col class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ monthARR + '% ' + ( 'arr-text' | translate) }}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'week-text' | translate }}</p>
      </ion-row>
      <ion-row style="margin-left: 10px; margin-right: 10px">
        <ion-col class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ weekEarn }} ELA</p>
        </ion-col>
        <ion-col class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ weekARR + '% ' + ( 'arr-text' | translate) }}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'earnings-per-node-text' | translate }}</p>
      </ion-row>
      <ion-row style="margin-top: 15px;">
        <div style="width: 100%;">
          <canvas 
          #perNodeEarningsChart
          ></canvas>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>