<ion-content>

<ion-row class="ion-no-padding">
  <ion-col size="2.25">
    <ion-row style="padding: 10px;">
    <div (click)="dismiss()">
      <ion-icon
        class="slider-back"
        slot="icon-only"
        name="arrow-round-back"
      ></ion-icon>
    </div>
    </ion-row>
  </ion-col>
  <!-- <ion-col size="9.75">
    <ion-row style="padding: 10px;">
      <p>Staking Rewards</p>
    </ion-row>
  </ion-col> -->
</ion-row>

  <ion-row>
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'rewards-chart-title' | translate }}</p>
      </ion-row>
      <!-- <ion-row style="margin-left: 10px; margin-right: 10px; padding-top: 7.5px; padding-bottom: 15px; font-size: 0.7rem;">
        <ion-col size="6" class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="color: #a6a6a6; padding-bottom: 2.5px;">First Payout</p>
          <div>{{ firstPayout }}</div>
        </ion-col>
        <ion-col size="6" class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="color: #a6a6a6; padding-bottom: 2.5px;">Total Earnings</p>
          <div>{{ totalEarned }} ELA</div>
        </ion-col>
      </ion-row> -->
      <ion-row style="margin-top: 15px;">
        <div style="display: block; width: 100%; height: 35vh;">
          <canvas 
          #historyChart
          ></canvas>
        </div>
      </ion-row>
      <ion-row class="ion-align-items-end ion-justify-content-evenly">
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch1M()" [ngStyle]="{'background-color': color1M }">
            <strong>
              1M
            </strong>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch6M()" [ngStyle]="{'background-color': color6M }">
            <strong>
              6M
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch1Y()" [ngStyle]="{'background-color': color1Y }">
            <strong>
              1Y
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">    
          <ion-button class="chart-button" (click)="switchAll()" [ngStyle]="{'background-color': colorAll }">
            <strong>
              {{ 'all-text' | translate }}
            </strong>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-right:5px">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'first-payout-text' | translate }}</p>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ firstPayout }}</p>
        <!-- <div style="display: block;">
          <canvas 
          #pieChart1
          ></canvas>
        </div> -->
      </ion-row>
    </ion-col>
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 5px">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'total-earnings-text' | translate }}</p>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ totalEarned }} ELA</p>
        <!-- <div style="display: block;">
          <canvas 
          #pieChart1
          ></canvas>
        </div> -->
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'month-text' | translate }}</p>
      </ion-row>
      <ion-row style="margin-left: 10px; margin-right: 10px">
        <ion-col class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ monthEarn }} ELA</p>
        </ion-col>
        <ion-col class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ monthARR + '% ' + ( 'arr-text' | translate) }}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'week-text' | translate }}</p>
      </ion-row>
      <ion-row style="margin-left: 10px; margin-right: 10px">
        <ion-col class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ weekEarn }} ELA</p>
        </ion-col>
        <ion-col class="ion-justify-content-left ion-no-padding">
          <p class="ion-no-margin" style="font-size: 1rem; font-weight: 700; padding-top: 10px; padding-bottom: 10px;">{{ weekARR + '% ' + ( 'arr-text' | translate) }}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 15px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'earnings-per-node-text' | translate }}</p>
      </ion-row>
      <ion-row style="margin-top: 15px;">
        <div style="width: 100%;">
          <canvas 
          #perNodeEarningsChart
          ></canvas>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>

 

</ion-content>



<!-- <ion-slides
  *ngIf="showDetails"
  #slider
  [options]="slideOpts"
  (ionSlideNextEnd)="loadNext()"
  class="node-slides"
>
  <ion-slide *ngFor="let node of displayedArr" scrollY="true">
    <ion-card text-center>
      <ion-grid>
        <ion-row class="header-container ion-no-padding">
          <ion-col size="2.25" class="ion-no-margin" style="padding-right: 0">
            <ion-button fill="clear" (click)="sendtoParent()">
              <ion-icon
                class="slider-back"
                slot="icon-only"
                name="arrow-round-back"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col
            size="2"
            class="ion-no-margin"
            style="padding-right: 0; align-self: center;"
          >
            <div *ngIf="node">
              <img-loader *ngIf="node.imageUrl" useImg
                ><img class="logo" [src]="node.imageUrl"
              /></img-loader>
            </div>
            <img-loader *ngIf="!node.imageUrl" useImg
              ><img
                style="height:30px; width: 35px"
                src="../../assets/images/elastOS.png"
            /></img-loader>
          </ion-col>
          <ion-col
            size="7.75"
            class="name-container ion-no-margin"
            style="padding-left: 0"
          >
            <ion-row>
              <ion-col>
                <div style="text-align:left">
                  <ion-card-title>
                    {{ node.Nickname }}
                  </ion-card-title>
                </div>
                <div style="text-align:left; padding-top: 2.5px">
                  <span
                    ><a href="{{ node.Url }}"
                      ><fa-icon [icon]="['fab', 'chrome']"></fa-icon></a
                  ></span>
                  <span
                    *ngIf="node.socials"
                    style="text-align:left; padding-top: 2.5px"
                  >
                    <a
                      *ngIf="node.socials.twitter"
                      href="{{ node.socials.twitter }}"
                      ><fa-icon [icon]="['fab', 'twitter']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.telegram"
                      href="{{ node.socials.telegram }}"
                      ><fa-icon [icon]="['fab', 'telegram']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.weixin"
                      href="{{ node.socials.weixin }}"
                      ><fa-icon [icon]="['fab', 'weixin']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.weibo"
                      href="{{ node.socials.weibo }}"
                      ><fa-icon [icon]="['fab', 'weibo']"></fa-icon
                    ></a>
                    <a *ngIf="node.socials.qq" href="{{ node.socials.qq }}"
                      ><fa-icon [icon]="['fab', 'qq']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.medium"
                      href="{{ node.socials.medium }}"
                      ><fa-icon [icon]="['fab', 'medium']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.facebook"
                      href="{{ node.socials.facebook }}"
                      ><fa-icon [icon]="['fab', 'facebook']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.youtube"
                      href="{{ node.socials.youtube }}"
                      ><fa-icon [icon]="['fab', 'youtube']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.linkedin"
                      href="{{ node.socials.linkedin }}"
                      ><fa-icon [icon]="['fab', 'linkedin']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.github"
                      href="{{ node.socials.github }}"
                      ><fa-icon [icon]="['fab', 'github']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.reddit"
                      href="{{ node.socials.reddit }}"
                      ><fa-icon [icon]="['fab', 'reddit']"></fa-icon
                    ></a>
                    <a
                      *ngIf="node.socials.envelope"
                      href="{{ node.socials.envelope }}"
                      ><fa-icon [icon]="['fas', 'envelope']"></fa-icon
                    ></a>
                  </span>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-card-content>
          <ion-row class="ion-align-items-end ion-justify-content-center" style="border-bottom: solid 0.5px #e9e9e9; padding-bottom: 10px;">
            <ion-col size="4">
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div class="stat">#{{node.Rank}}</div>
                  <div class="stat-label">Rank</div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div class="stat">{{ formatVotes(node.Votes) }}
                    <span *ngIf="node.votesChange == true"
                    [ngStyle]="{'color':'#00cc88', 'font-weight':'500', 'font-size':'0.75rem'}">(+{{ deltaStatus(node.deltaVotes) }})</span>
                   <span  *ngIf="node.votesChange == false"
                    [ngStyle]="{'color':'#e8007f', 'font-weight':'500', 'font-size':'0.75rem'}">(-{{ deltaStatus(node.deltaVotes) }})</span>
                  </div>
                  <div class="stat-label">Votes</div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div class="stat">{{ formatVoters(node.Voters) }}
                    <span *ngIf="node.votersChange == true"
                    [ngStyle]="{'color':'#00cc88', 'font-weight':'500', 'font-size':'0.75rem'}">(+{{ deltaStatus(node.deltaVoters) }})</span>
                   <span  *ngIf="node.votersChange == false"
                    [ngStyle]="{'color':'#e8007f', 'font-weight':'500', 'font-size':'0.75rem'}">(-{{ deltaStatus(node.deltaVoters) }})</span>
                  </div>
                  <div class="stat-label">Voters</div>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div *ngIf="node.Rank <= 24 && node.State == 'Active'" [ngStyle]="{'color': '#ffc34d'}" class="stat">Active</div>
                  <div *ngIf="node.Rank > 24 && node.State == 'Active'" [ngStyle]="{'color': '#cc66ff'}" class="stat">Standby</div>
                  <div *ngIf="node.State == 'Inactive'" [ngStyle]="{'color': '#e8007f'}" class="stat">Inactive</div>
                  <div class="stat-label">State</div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div class="stat">{{ votePercent( node )}}</div>
                  <div class="stat-label">of Votes</div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div class="stat">{{ payPercent(node.PercentPayout) }}</div>
                  <div class="stat-label">Payout</div>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div class="stat">{{node.Country}}</div>
                  <div class="stat-label">Location</div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div class="stat">
                    {{ getRewards(node.EstRewardPerYear) }} ELA
                  </div>
                  <div class="stat-label">Daily Reward</div>
                </ion-col>
              </ion-row>             
              <ion-row class="ion-no-margin">
                <ion-col class="ion-no-margin inner-col">
                  <div class="stat">{{ arrPercent(node.AnnualROI) }}</div>
                  <div class="stat-label">Annual Return</div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="node.details" class="row0">
            <ion-col class="ion-no-margin inner-col">
            <h3 class="stat-label" style="text-align: left; padding-left: 20px;">About</h3>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="node.details" class="row1 description" style="border-bottom: solid 0.5px #e9e9e9; padding-bottom: 10px;">
            <ion-col class="ion-no-margin inner-col">
            <h3 *ngIf="node.details.Description.length <= limit">
              {{node.details.Description}}
            </h3>
            <h3 *ngIf="truncating && node.details.Description.length > limit">
              {{ node.details.Description | truncate : limit : ''}}
              <a style="color: #e8007f" (click)="truncating = false"
                >...show more</a
              >
            </h3>
            <h3 *ngIf="!truncating && node.details.Description.length > limit">
              {{ node.details.Description }}
              <a style="color: #e8007f" (click)="truncating = true"
                >...show less</a
              >
            </h3>
            </ion-col>
          </ion-row>
    
        </ion-card-content>
      </ion-grid>
    </ion-card>
  </ion-slide>
</ion-slides> -->
