<ion-content padding>
  <ion-item style="margin-top: 10vh">
    <p style="text-align: left; font-weight: 400; font-size: 0.9rem">{{ 'donate-text' | translate }}</p>
  </ion-item>
  <ion-item style="margin-top: 10vh">
    <ion-range min="0" max="100" step=0.1 (ionChange)="rangeValue($event)">
      <ion-label style="font-weight: 600; font-size: 1rem; padding-right: 2vw" slot="start">0</ion-label>
      <ion-label style="font-weight: 600; font-size: 1rem;"  slot="end">100</ion-label>
    </ion-range>
  </ion-item>
  <ion-row class="ion-justify-content-center" style="padding-top: 40px;">
      <ion-button class="donate-button ion-justify-content-center" fill="clear" (click)="donate()">{{ ('donate-title' | translate ) + ' ' + value + ' ELA' }}</ion-button>
  </ion-row>
</ion-content>
