//@import "../../functions.scss";

#logo {
    text-align: center;
    img {
        margin-top: 20px;
        width: 70px;
        height: 70px;
    }
    div {
        margin-top: px2rem(25px);
        color: #999999;
        font-size: 14px;
    }
}

ion-list {
    margin-top: px2rem(75px);
}

* { 
    color: #fff;
    --background: #000;
}

fa-icon {
    color: #fff;
    width: 32px !important;
    height: 32px !important;
}

ion-list {
    background-color: #000;
    ion-item {
        height: px2rem(104px);
    }
    ion-icon {
        margin: 10px;
        width: px2rem(32px);
        height: px2rem(32px);
    }
    ion-label {
        font-size: 15px;
    }
    ion-note {
        font-size: 13px;
    }

}

ion-range {
    padding-left: 0vw;
    padding-right: 0vw;
    --bar-background: rgb(240, 50, 107);
    --bar-background-active: #008fb3;
    --bar-border-radius: 5px;
    --bar-height: 15px;
    --height: 60px;
    --knob-background: pink;
    // --knob-border-radius	Border radius of the range knob
    // --knob-box-shadow
    --knob-size: 30px;
    --pin-background: #008fb3;
    --pin-color: #fff;
}



ion-button.donate-button {
    --background:  #008fb3;
    text-transform: none;
    font-size: 1rem;
    font-weight: 600;
    --border-radius: 10px;
    width: 82%;
  }
  