//@import "../../functions.scss";

#logo {
    text-align: center;
    img {
        margin-top: 20px;
        width: 70px;
        height: 70px;
    }
    div {
        margin-top: px2rem(25px);
        color: #999999;
        font-size: 14px;
    }
}

ion-list {
    margin-top: px2rem(75px);
}

* { 
    color: #fff;
    --background: #000;
}

fa-icon {
    color: #fff;
    width: 32px !important;
    height: 32px !important;
}

ion-list {
    background-color: #000;
    ion-item {
        height: px2rem(104px);
    }
    ion-icon {
        margin: 10px;
        width: px2rem(32px);
        height: px2rem(32px);
    }
    ion-label {
        font-size: 15px;
    }
    ion-note {
        font-size: 13px;
    }

}

ion-button.add-address-button {
    --background:  #000;
    text-transform: none;
    font-size: 0.85rem;
    color: rgb(0, 204, 153);
    --border-color: rgb(0, 204, 153);
    --border-style: solid;
    --border-width: 1.25px;
    --border-radius: 20px;
    width: 75%;
  }


  ion-button.remove-button {
    --background:  #000;
    text-transform: none;
    font-size: 0.58rem;
    color: rgb(240, 50, 107);
    --border-color: rgb(240, 50, 107);
    --border-style: solid;
    --border-width: 1.25px;
    --border-radius: 20px;
  }

