ion-list {
  min-height: 100%;
  background-color: #202020;
}

.nodes-small {
  font-size: 10px;
}

.logo {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
}

.rank {
  display: inline-block;
  margin-top: 0.5rem;
}

.arrow {
  width: 14px;
  height: 14px;
  position: relative;
  bottom: -2.5px;
}

.content {
  color: #fff;
}

.details-arrow {
  height: 20px;
  width: 20px;

  :focus {
    width: 40px;
  }
}

ion-refresher {
  --color: #fff;
  background-color: #202020;
}

ion-refresher-content {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #202020;
}

.refresher-md {
  --ion-text-color: #fff !important;
}

.refresher-pulling-icon {
  color: #fff !important;
}

.fixed-content{
  background:#202020;
}
