/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

@font-face {
  font-family: 'Nasalization';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/nasalization-rg.ttf') format('truetype');
}

// * {
//   font-family: "Roboto" !important;
// }

ion-title {
  font-weight: 700;
}

ion-content {
  --background: transparent;
}

ion-toast {
  --background: #000;
  --border-color: #e8007f; 
  --color: #fff;
  --border-radius: 7.5px;
  --border-width: 1.5px;
  --border-style: solid;
}

:root {
   --ion-color-secondary: #252525;
   --ion-color-primary: linear-gradient(360deg, #66e0ff 0%, #00a3cc 100%)
}

.blur {
  filter: blur(5px);
}

.inactive {
  color: rgb(231, 81, 81) !important;
}

.refreshStats {
  margin-top: 45%;
  .refresher-pulling-text,
  .refresher-refreshing-text,
  .refresher-refreshing-icon,
  .refresher-pulling-icon {
    font-weight: 500;
    color: #666666;
  }
}

// @media screen and (min-height: 750px) {
//   .refreshStats {
//     margin-top: 50%;
//   }
// }


/// Supernode Datatable
.node-table-container {

.ngx-datatable {
  box-shadow: none;
  color: #fff;
  font-size: 12.5px;

  .datatable-header {
    color: #fff;

    .datatable-header-cell {
      text-align: left;
      padding: 0.5rem 0;
      font-weight: bold;
      font-size: 0.8rem;

      .datatable-header-cell-label {
        line-height: 24px;
      }
    }
  }

  .datatable-body {

    .datatable-body-row {
      font-weight: 400;
      border: none;
      
      .datatable-row-group {
        background-image: linear-gradient(#4d4d4d, #272727);
        box-shadow: 0px 0px 10px 0px #000000;
        border-width: 2px;
        border-color: #000;
        margin-top: 4px;
        margin-bottom: 4px;
      }

      .datatable-body-cell {
        text-align: left;
        padding: 0.5rem 0;

        .datatable-body-cell-label {
          height: 100%;
        }
      }

    }
  }

  .datatable-footer {
    background: #202020;
    color: #72809b;
    margin-top: -1px;

    .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem;
    }

    .datatable-pager {
      width: 100%;
      margin: 0 10px;
      vertical-align: top;
      align-items: center;
      justify-content: center;

      ul {
        li {
          margin: 10px 0px;

          &:not(.disabled) {
            &.active a,
            &:hover a {
              background-color: #455066;
              font-weight: bold;
            }
          }
        }
      }

      a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0;
        border-radius: 3px;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        vertical-align: bottom;
        color: #72809b;
      }

      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        line-height: 27px;
        padding: 0 3px;
      }
    }
  }

  .datatable-summary-row {
    .datatable-body-row {
      background-color: #14171f;

      &:hover {
        background-color: #14171f;
      }

      .datatable-body-cell {
        font-weight: bold;
      }
    }
  }

}

.datatable-header .datatable-header-cell:nth-child(1) {
  margin-left: 0.75rem !important;
}

.datatable-body-row .datatable-row-center.datatable-row-group .datatable-body-cell:nth-child(1) {
  margin-left: 0.75rem !important;
}

.datatable-header .datatable-header-cell:nth-child(4) {
  margin-right: 0.25rem !important;
}

.datatable-body-row .datatable-row-center.datatable-row-group .datatable-body-cell:nth-child(4) {
  margin-right: 0.25rem !important;
}

.ngx-datatable.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #1c1c1c;
  background-image: none;
  box-shadow: inset 0px 0px 10px 0px #000000;
}

}


/// Rewards History Datatable
.rewards-table-container {

  .ngx-datatable {
    color: #fff;
    font-size: 12.5px;
  
    .datatable-header {
      color: #fff;
      border-bottom: 0.75px solid #a6a6a6;
  
      .datatable-header-cell {
        text-align: left;
        font-weight: bold;
        font-size: 14px;
  
        .datatable-header-cell-label {
          line-height: 24px;
        }
      }
    }
  
    .datatable-body {
  
      .datatable-body-row {
        font-weight: 400;
        border-bottom: 1px solid #a6a6a6;
        
        .datatable-row-group {
          border-width: 2px;
          margin-top: 6px;
          margin-bottom: 6px;
        }
  
        .datatable-body-cell {
          text-align: left;
          display: flex !important;
          align-items: center !important;
        }
  
      }
    }
  
    .datatable-footer {
      background: #1a1a1a;
      color: #fff;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
  
      .page-count {
        display: none;
      }
  
      .datatable-pager {
        vertical-align: middle;
        text-align: center;
  
        ul {
          li {
            margin: 12px 0px;
  
            &:not(.disabled) {
              &.active a,
              &:hover a {
                color: #e8007f;
                font-weight: bold;
                font-size: 1rem;
              }
            }
          }
        }
  
        a {
          height: 24px;
          min-width: 24px;
          line-height: 24px;
          padding: 0;
          border-radius: 3px;
          margin: 0 3.5px;
          font-size: 1rem;
          text-align: center;
          vertical-align: top;
          text-decoration: none;
          vertical-align: bottom;
          color: #fff;
        }
  
        .datatable-icon-left,
        .datatable-icon-skip,
        .datatable-icon-right,
        .datatable-icon-prev {
          font-size: 25px;
          line-height: 27px;
          padding: 0 3px;
        }
      }
    }
  
  }
  .datatable-header .datatable-header-cell:nth-child(1) {
    margin-left: 0.75rem !important;
  }
  
  
 .datatable-body-row .datatable-row-center.datatable-row-group .datatable-body-cell:nth-child(1) {
    margin-left: 0.75rem !important;
  }
  
  }


// Alerts

.removeWalletAlert {
  --background: #202020 !important;
  color: #fff !important;
  h2{
    color: #fff !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
  }
  div{
    color: #fff !important;
    font-size: 0.85rem !important;
  }
  .alert-message{
    padding-bottom: 0 !important;
  }
  .acceptButton{
    color: rgb(240, 50, 107) !important;
  }
  input {
    color: #fff !important;
  }
} 

.addWalletAlert {
  --background: #202020 !important;
  color: #fff !important;
  --width: 100% !important;
  --max-width: 90vw !important;
  h2{
    color: #fff !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
  }
  div{
    color: #fff !important;
    font-size: 0.85rem !important;
  }
  .alert-message{
    padding-bottom: 0 !important;
  }
  .acceptButton{
    color: rgb(0, 204, 153) !important;
  }
  .alert-input-group{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  input {
    color: #fff !important;
  }
} 

.firstAddWalletAlert {
  --background: #202020 !important;
  color: #fff !important;
  h2{
    color: #fff !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
  }
  div{
    color: #fff !important;
    font-size: 0.85rem !important;
  }
  .alert-message{
    padding-bottom: 0 !important;
  }
  .acceptButton{
    color: rgb(0, 204, 153) !important;
  }
  .alert-input-group{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  input {
    color: #fff !important;
  }
} 


