* {
  color: #fff;
}
ion-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
ion-content {
  height: 100vh;
}

ion-label {
  font-weight: 600;
}

ion-icon {
  color: #989aa2;
  font-size: 36px;
}

ion-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-row {
  margin: 5px;
  border-radius: 7px;
}

.row0 {
  flex: 0;
  margin: 0px 5px 0px 5px;
}
.col0 {
  padding: 5px 5px 0px 5px;
}
.row1 {
  flex: 0;
  background-color: #202020;
}
.row2 {
  flex: 0;
  background-color: #202020;
}
.inner-col {
  padding: 0px 5px 0px 5px;
}

.header {
  height: 38px;

  //flex: 0;
  // background-image: linear-gradient(to left, rgba(232, 0, 127, 0.75), rgba(0, 150, 171, 0.75) );
  //background-image: url("../../../assets/images/StackingToolsHeader2.png");
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // background-position: center;
  border-radius: 7px;

  //border-radius: 0px;
  //border-bottom: 1.5px solid transparent;
  //border-top: 1.5px solid transparent;
  border-color: rgb(179, 26, 255);
  background-color: #202020;

  // background-image: linear-gradient(#000, #000), linear-gradient(to right, rgb(232, 0, 127), rgb(0, 150, 171)  );
  // background-origin: border-box;
  // background-clip: content-box, border-box;
  margin-top: 7.5px; 
  margin-bottom: 5px; 
  margin-right: 10px; 
  margin-left: 10px;
}

.section-label {
  font-size: 0.75rem;
  color: #a6a6a6;
}

.stat {
  font-size: 0.85rem;
  font-weight: 600;
}

.stat-label {
  font-size: 0.6rem;
  color: #a6a6a6;
}

ion-button.pink-button {
  --background: linear-gradient(rgb(232, 0, 127), rgb(232, 0, 127, 0.35));
  padding: 2.5px;
}

ion-button.blue-button {
  --background: linear-gradient(rgb(0, 150, 171), rgb(0, 150, 171, 0.35));
  padding: 2.5px;
}

ion-button.purple-button {
  --background: linear-gradient(rgb(179, 26, 255), rgb(179, 26, 255, 0.35));
  //--background: linear-gradient(360deg, rgb(168, 137, 216) 0%, rgb(131, 82, 209) 100%);
  text-transform: none;
  font-size: 0.9rem;
  padding: 2.5px;
}

.wallet-logo {
 width: 23.5%;
 padding-right: 7px;
}

