* {
  color: #fff;
}

ion-header {
  ion-title {
    font-weight: 500;
    text-align: center;
  }
}

ion-content {
  height: 100vh;
}

ion-label {
  font-weight: 600;
}

ion-icon {
  color: #989aa2;
  font-size: 36px;
}

ion-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-col {
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-row {
  margin: 5px;
  border-radius: 7px;
}

.row-fill {
  flex: 0;
  margin: 5px 5px 0px 5px;
}
.row0 {
  flex: 0;
  margin: 0px 5px 0px 5px;
}
.col0 {
  padding: 5px 5px 0px 5px;
}
.row1 {
  flex: 0;
  background-color: #202020;
}
.row2 {
  flex: 0;
  background-color: #202020;
}
.inner-col {
  padding: 0px 5px 0px 5px;
}
.header {
  height: 40px;
  //flex: 0;
  //background-image: linear-gradient(to right, rgb(232, 0, 127), rgb(179, 26, 255), rgb(0, 150, 171) );
  background-image: url("../../../assets/images/StackingToolsHeader2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  //margin-bottom: 0;
}



.section-label {
  font-size: 0.75rem;
  color: #a6a6a6;
}

.stat {
  font-size: 0.85rem;
  font-weight: 600;
}

.stat-label {
  font-size: 0.6rem;
  color: #a6a6a6;
}

ion-button.pink-button {
  --background: linear-gradient(rgb(232, 0, 127), rgb(232, 0, 127, 0.2));
  padding: 2.5px;
}

ion-button.blue-button {
  --background: linear-gradient(rgb(0, 150, 171), rgb(0, 150, 171, 0.2));
  padding: 2.5px;
}

// ion-button.blue-button {
//   --background:  #0096ab;
//   text-transform: none;
//   font-size: 0.9rem;
//   padding: 2.5px;
// }

ion-button.purple-button {
  --background: linear-gradient(rgb(179, 26, 255), rgb(179, 26, 255, 0.2));
  text-transform: none;
  font-size: 0.9rem;
  padding: 2.5px;
}

.wallet-logo {
 width: 23.5%;
 padding-right: 7px;
}

