  <!-- <ion-menu side="end" menuId='m1' (ionDrag)="menuOpened()"> -->
    <ion-header color=primary no-border>
      <ion-toolbar>
        <ion-title>
          {{ 'menu-title' | translate }}
        </ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content class="vote-menu-content">
      <ion-grid>

        <ion-row class="row0 ion-align-items-end ion-justify-content-start">
          <ion-col class="col0">
            <p class="section-label ion-no-margin">{{ 'statistics-text' | translate }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="row1 ion-align-items-end ion-justify-content-center">
          <ion-col>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat">{{ input }}/36</div>
                <div class="stat-label">{{ 'nodes-text' | translate }}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat"> {{ input3 }}%</div>
                <div class="stat-label">{{ 'of-votes-text' | translate }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat"> {{ input1 }}%</div>
                <div class="stat-label">{{ 'annual-return-text' | translate }}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat">{{ input2 }}%</div>
                <div class="stat-label">{{ 'earnings-share-text' | translate }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="row0 ion-align-items-end ion-justify-content-start">
          <ion-col class="col0">
            <p class="section-label ion-no-margin">{{ 'geography-text' | translate }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="row1 ion-align-items-end ion-justify-content-center">
          <ion-col>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat">{{ NA }}</div>
                <div class="stat-label">{{ 'north-america-text' | translate }}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat">{{ SA }}</div>
                <div class="stat-label">{{ 'south-america-text' | translate }}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat">{{ EU }}</div>
                <div class="stat-label">{{ 'europe-text' | translate }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat">{{ AS }}</div>
                <div class="stat-label">{{ 'asia-text' | translate }}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin ">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat">{{ OC }}</div>
                <div class="stat-label">{{ 'oceania-text' | translate }}</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-margin">
              <ion-col class="ion-no-margin inner-col">
                <div class="stat">{{ AF }}</div>
                <div class="stat-label">{{ 'africa-text' | translate }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="row0 ion-align-items-end ion-justify-content-start">
          <ion-col class="col0">
            <p class="section-label ion-no-margin">{{ 'bundles-text' | translate }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="row2 ion-align-items-end ion-justify-content-center">
          <ion-col class="ion-no-margin">
            <ion-button class="green-button" (click)="maxReturn()">
              <strong>
                {{ 'max-return-button' | translate }}
              </strong>
            </ion-button>
            <ion-button class="green-button" (click)="getStoredNodes()">
              <strong>
                {{ 'last-vote-button' | translate }}
              </strong>
            </ion-button>
          </ion-col>
          <ion-col class="ion-no-margin">
            <ion-button class="green-button" (click)="top36()">
              <strong>
                {{ 'top-36-button' | translate }}
              </strong>
            </ion-button>
            <ion-button class="pink-button" (click)="clearSelections()">
              <strong>
                {{ 'clear-button' | translate }}
              </strong>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="row0 ion-align-items-end ion-justify-content-start">
          <ion-col class="col0">
            <p class="section-label ion-no-margin">{{ 'vote-text' | translate }}</p>
          </ion-col>
        </ion-row>

        <ion-row class="row2 ion-align-items-end ion-justify-content-center">
          <ion-col class="ion-no-margin">
            <ion-button class="blue-button" (click)="elastOSVote()">
              <ion-img class="wallet-logo" src="../assets/images/elastOS.png"></ion-img>
              <strong>
                {{ 'elastOS-button' | translate }}
              </strong>
            </ion-button>
          </ion-col>
          <ion-col class="ion-no-margin">
            <ion-button class="purple-button" (click)="elephantVote()">
              <ion-img class="wallet-logo" src="../assets/logos/Elephant Wallet.png"></ion-img>
              <strong>
                {{ 'elephant-button' | translate }}
              </strong>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>

  <!-- </ion-menu> -->
