* {
  color: #fff;
}

ion-content {
  height: 100vh;
}

// Top banner
.header {
  height: 38px;
  border-radius: 7px;
  background-color: #202020;
  margin-top: 7.5px; 
  margin-bottom: 5px; 
  margin-right: 5px; 
  margin-left: 5px;
}
.title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}


ion-col {
  display: flex;
  flex-direction: column;
}
ion-row {
  margin: 5px;
  border-radius: 7px;
}

// Section labels
.section-label {
  font-size: 0.75rem;
  color: #a6a6a6;
}
.section-label-row {
  flex: 0;
  margin: 0px 5px 0px 5px;
}
.section-label-col {
  padding: 5px 5px 0px 5px;
}

// Section content
.section-container {
  flex: 0;
  background-color: #202020;
}
.inner-col {
  padding: 0px 5px 0px 5px;
}
.stat {
  font-size: 0.85rem;
  font-weight: 600;
}
.stat-label {
  font-size: 0.6rem;
  color: #a6a6a6;
  white-space: nowrap;
}

// Buttons
ion-button.pink-button {
  --background: linear-gradient(rgb(232, 0, 127), rgb(232, 0, 127, 0.35));
  padding: 2.5px;
}
ion-button.blue-button {
  --background: linear-gradient(rgb(0, 150, 171), rgb(0, 150, 171, 0.35));
  padding: 2.5px;
}
ion-button.purple-button {
  --background: linear-gradient(rgb(179, 26, 255), rgb(179, 26, 255, 0.35));
  text-transform: none;
  font-size: 0.9rem;
  padding: 2.5px;
}
.wallet-logo {
 height: 1rem;
 padding-right: 7px;
}

