ion-list {
    margin-top: px2rem(75px);
}

* { 
    color: #fff;
    --background: #000;
}

ion-list {
    background-color: #000;
    ion-item {
        height: px2rem(104px);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    h1 {
        font-weight: 550;
        font-size: 1.3rem;
    }
    h2 {
        font-weight: 400;
        font-size: 0.875rem;
    }
    p {
        font-weight: 400;
        font-size: 0.75rem;
        color: #b3b3b3;
        line-height: 1.25;
    }
}