<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="updateStats($event)" pullMin="100" pullMax="125">
    <ion-refresher-content pullingIcon="arrow-round-up" pullingText="Refresh Data">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row style="margin-top: 10px;">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 10px; margin-right: 10px; margin-bottom: 15px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'staking-chart-title' | translate }}</p>
      </ion-row>
      <ion-row class="ion-align-items-end ion-justify-content-evenly">
        <ion-col class="ion-no-margin">
          <ion-button class="dataset-button" (click)="selectCoins()" [ngStyle]="{'background-color': colorCoins }">
            <strong>
              {{ 'staking-chart-coins' | translate }}
            </strong>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-margin">
          <ion-button class="dataset-button" (click)="selectSupply()" [ngStyle]="{'background-color': colorSupply }">
            <strong>
              {{ 'staking-chart-supply' | translate }}
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">
          <ion-button class="dataset-button" (click)="selectVoters()" [ngStyle]="{'background-color': colorVoters }">
            <strong>
              {{ 'staking-chart-voters' | translate }}
            </strong>
          </ion-button>
        </ion-col>  
      </ion-row>
      <ion-row style="margin-top: 15px;">
        <div style="display: block; width: 100%; height: 35vh;">
          <canvas 
          #coinChart
          ></canvas>
        </div>
      </ion-row>
      <ion-row class="ion-align-items-end ion-justify-content-evenly">
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch1M()" [ngStyle]="{'background-color': color1M }">
            <strong>
              1M
            </strong>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch6M()" [ngStyle]="{'background-color': color6M }">
            <strong>
              6M
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="switch1Y()" [ngStyle]="{'background-color': color1Y }">
            <strong>
              1Y
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">    
          <ion-button class="chart-button" (click)="switchAll()" [ngStyle]="{'background-color': colorAll }">
            <strong>
              {{ 'all-text' | translate }}
            </strong>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>



  <ion-row style="margin-left: 10px; margin-right: 10px; margin-top: 0px; margin-bottom: 15px;">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-right:5px">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'supply-pie-chart' | translate }}</p>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <div style="width: 100px; height: 100px; float: left; position: relative;  margin-top: 10px; margin-bottom: 10px;">
          <div style="font-size: 11.5px; font-weight: 500; width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -10px; line-height:19px; text-align: center; z-index: 0;">
              {{ staked }}%
          </div>
          <canvas #stakedChart></canvas>
        </div>
      </ion-row>
    </ion-col>
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 5px">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'hashrate-bar-chart' | translate }}</p>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <div style="margin-top: 10px; margin-bottom: 10px;">
          <canvas style="width: 100px; height: 100px;" #stackedBarChart></canvas>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="margin-bottom: 20px">
    <ion-col style="border: 0.5px solid #a6a6a6; border-radius: 3px; margin-left: 10px; margin-right: 10px; margin-top: 0px; margin-bottom: 15px;">
      <ion-row style="margin-left: 10px; margin-right: 10px; border-bottom: 0.5px solid #a6a6a6;">
        <p class="ion-no-margin" style="padding-top: 5px; padding-bottom: 7.5px; font-size: 0.75rem; font-weight: 600;">{{ 'mainchain-chart-title' | translate }}</p>
      </ion-row>
      <ion-row class="ion-align-items-end ion-justify-content-evenly">
        <ion-col class="ion-no-margin">
          <ion-button class="mainchain-button" (click)="selectHashrate()" [ngStyle]="{'background-color': colorHashrate }">
            <strong>
              {{ 'mainchain-chart-hashrate' | translate }}
            </strong>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-margin">
          <ion-button class="mainchain-button" (click)="selectAA()" [ngStyle]="{'background-color': colorAA }">
            <strong>
              {{ 'mainchain-chart-addresses' | translate }}
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">
          <ion-button class="mainchain-button" (click)="selectTPH()" [ngStyle]="{'background-color': colorTPH }">
            <strong>
              {{ 'mainchain-chart-tph' | translate }}
            </strong>
          </ion-button>
        </ion-col>  
      </ion-row>
      <ion-row style="margin-top: 15px;">
        <div style="display: block; width: 100%; height: 35vh;">
          <canvas 
          #mainchainChart
          ></canvas>
        </div>
      </ion-row>
      <ion-row class="ion-align-items-end ion-justify-content-evenly">
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="mainchainSwitch1M()" [ngStyle]="{'background-color': mainchainColor1M }">
            <strong>
              1M
            </strong>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="mainchainSwitch6M()" [ngStyle]="{'background-color': mainchainColor6M }">
            <strong>
              6M
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">
          <ion-button class="chart-button" (click)="mainchainSwitch1Y()" [ngStyle]="{'background-color': mainchainColor1Y }">
            <strong>
              1Y
            </strong>
          </ion-button>
        </ion-col>  
        <ion-col class="ion-no-margin">    
          <ion-button class="chart-button" (click)="mainchainSwitchAll()" [ngStyle]="{'background-color': mainchainColorAll }">
            <strong>
              {{ 'all-text' | translate }}
            </strong>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>